.row
{
    display: flex;
    margin:auto;
   
   width:95%;
}
#myDiv
{
    width: 100%;

}
/* mobile screen */
@media (max-width: 981px) {
img{
    width : 900px;
   
}}
 @media (min-width: 982px) and (max-width: 1100px) {
    img{
        width : 430px;
       
    }} 


/* Big screen */
@media (min-width:1101px){
    img{
        width : 215px;
}}



.column {
    position: relative; 
    float: left;
width:auto;
    padding: 2px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
}