.row
{
    display: flex;
    margin:auto;
   
   width:95%;
}
#myDiv
{
    width: 100%;

}
/* mobile screen */
@media (max-width: 981px) {
img{
    width : 760px;
 
}
.row{
    width:80%;
}
.column{
    height:880px;
font-size: 30px;
}}

/* ipad pro screen */
 @media (min-width: 982px) and (max-width: 1100px) {
    img{
        width : 92%;
    }
    .row{
        width:92%;
    }
    .column{
        width:25%;
        height:310px;
    }}


/* Big screen */
@media (min-width:1101px)and (max-width:1200px){
    img{
        width : 210px;
}
.column{
    width:25%;
    height:320px;
}

}
/* bigger screen */
@media (min-width:1201px) and (max-width:1300px){
    img{
        width : 90%;
}
.column{
    width:20%;
    height:320px;
}

}

@media (min-width:1301px){
    img{
        width : 90%;
}
.column{
    width:16%;
    height:290px;
}

}




.column {
    position: relative; 
    float: left;
/* width:auto; */

    padding: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
